.movieText {
   color: hotpink;
   text-align: left;
   font-size: large;
}

.movieHeading {
   font: Georgia;
   background-color: aqua;
   text-underline-position: below;
   font-size: larger;
   color: limegreen;
}